<div class="row">
  <span class="mat-body-strong caption">
    Documents {{ virtualDocuments.length }} <span *ngIf="files.length > 0">(+{{ files.length }})</span>
  </span>

  <span spacer></span>

  <ng-container *ngIf="!readonly">
    <button 
      (click)="fileInput.click()"
      color="accent"
      mat-button
    >
      Select Documents
    </button>
  
    <input
      #fileInput
      (change)="onSelected($event)"
      [accept]="acceptableTypes"
      type="file"
      class="file-upload"
      multiple
      hidden
    >
  </ng-container>
</div>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item *ngFor="let file of files" class="file">
    <span 
      (click)="openPreview(file)"
      [class.underline]="isPreviewable(file)"
      [matTooltipDisabled]="!isDocument(file)"
      matTooltip="Attach this document or open it locally to preview"
      class="name"
    >
      {{ file.name }}
    </span>
    
    <span class="mat-caption size">{{ file.size | fileSize }}</span>

    <span spacer></span>

    <button mat-button [matMenuTriggerFor]="menu" class="suffixIcon">
      {{ file.medicalType }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button 
        *ngFor="let type of medicalTypes"
        (click)="changeMedicalType(file, type)"
        mat-menu-item
      >
        {{ type }}
      </button>
    </mat-menu>

    <button (click)="removeFile(file)" color="warn" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>

    <button *ngIf="singleLineAttach" color="accent" mat-flat-button>Attach</button>
  </mat-list-item>

  <mat-list-item *ngFor="let document of virtualDocuments" class="file">
    <span 
      (click)="openPreview(document)"
      [class.underline]="isPreviewable(document)"
      [matTooltipDisabled]="!isDocument(document)"
      matTooltip="Attach this document or open it locally to preview"
    >
      {{ document.name }}
    </span>
    
    <span class="mat-caption size">{{ document.size | fileSize }}</span>

    <span spacer></span>

    <button mat-button [matMenuTriggerFor]="menu" class="suffixIcon">
      {{ document.medicalType }}<mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button 
        *ngFor="let type of medicalTypes"
        (click)="changeMedicalType(document, type)"
        mat-menu-item
      >
        {{ type }}
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Example icon-button with a menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>file_download</mat-icon>
        <span>Download</span>
      </button>
      <button mat-menu-item color="warn">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-list-item>

  <ng-container *ngIf="files.length == 0 && virtualDocuments.length == 0">
    <mat-list-item class="no-files">
      <span class="mat-body">No Documents Attached</span>
    </mat-list-item>
  </ng-container>
</mat-list>

<mat-divider></mat-divider>