<div class="row">
  <span class="mat-body-strong caption">
    Documents {{ virtualDocuments.length }} <span *ngIf="files.length > 0">(+{{ files.length }})</span>
  </span>

  <span spacer></span>

  <ng-container *ngIf="!readonly">
    <button 
      (click)="fileInput.click()"
      color="accent"
      mat-button
    >
      Select Documents
    </button>
  
    <input
      #fileInput
      (change)="selected($event)"
      [accept]="acceptableTypes"
      type="file"
      class="file-upload"
      multiple
      hidden
    >
  </ng-container>
</div>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item *ngFor="let file of selectedFiles" class="file">
    <span class="name">
      {{ file.name }}.{{ file.extension }}
    </span>

    <span class="mat-caption size">{{ file.size | fileSize }}</span>

    <span spacer></span>

    <button
      #dateMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="dateMenu"
      class="suffixIcon"
      mat-button
    >
      {{ file.documentDate | date:'shortDate' }}<mat-icon class="dateIcon">today</mat-icon>
    </button>

    <mat-menu #dateMenu="matMenu" class="date-menu">
      <ng-template matMenuContent>
        <div (click)="$event.stopPropagation()">
          <mat-calendar (selectedChange)="changeDocumentDate(file, $event)" [selected]="file.documentDate"></mat-calendar>
        </div>
      </ng-template>
    </mat-menu>

    <button [matMenuTriggerFor]="typeMenu" class="suffixIcon" mat-button>
      {{ file.type }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #typeMenu="matMenu">
      <button 
        *ngFor="let type of medicalTypes"
        (click)="changeSelectedType(file, type)"
        mat-menu-item
      >
        {{ type }}
      </button>
    </mat-menu>

    <button (click)="deselectFile(file)" color="warn" class="square" mat-button>
      <mat-icon>close</mat-icon>
    </button>

    <button *ngIf="singleLineAttach" color="accent" class="square" mat-button>
      <mat-icon>file_upload</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item *ngFor="let document of virtualDocuments" class="file">
    <span 
      (click)="openPreview(document)"
      [class.underline]="isPreviewable(document)"
      [matTooltipDisabled]="!isDocument(document)"
      matTooltip="Attach this document or open it locally to preview"
    >
      {{ document.name }}
    </span>
    
    <span class="mat-caption size">{{ document.size | fileSize }}</span>

    <span spacer></span>

    <button mat-button [matMenuTriggerFor]="typeMenu" class="suffixIcon">
      {{ document.medicalType }}<mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #typeMenu="matMenu">
      <button 
        *ngFor="let type of medicalTypes"
        (click)="changeMedicalType(document, type)"
        mat-menu-item
      >
        {{ type }}
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Example icon-button with a menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>file_download</mat-icon>
        <span>Download</span>
      </button>
      <button mat-menu-item color="warn">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-list-item>

  <ng-container *ngIf="selectedFiles.length == 0 && virtualDocuments.length == 0">
    <mat-list-item class="no-files">
      <span class="mat-body">No Documents Attached</span>
    </mat-list-item>
  </ng-container>
</mat-list>

<mat-divider></mat-divider>