:host {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  min-width: 760px;
  max-width: 95vw;
  padding: 0;
  
  .mat-tab-body {
    padding: 1rem;
  }
}
