<mat-card cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container">
  <mat-toolbar cdkDragHandle color="primary">
    <span class="mat-subheading-2">Attach Documents</span>
  </mat-toolbar>

  <mat-card-content>
    <app-document-attachment
      [_existingFiles]="_existingFiles"
      [_attachmentTypes]="_attachmentTypes"
      [_extensions]="_extensions"
      [uploadonly]="true"
    ></app-document-attachment>
  </mat-card-content>

  <mat-card-actions>
    <div class="item">
      <mat-icon color="accent">account_circle</mat-icon>
      <span class="mat-body">123456</span>
    </div>

    <div class="item">
      <mat-icon color="accent">local_hospital</mat-icon>
      <span class="mat-body">TN VALLEY HEALTHCARE TRANSPLANT, NASHVILLE, TN</span>
    </div>

    <span spacer></span>

    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary">Attach All</button>
  </mat-card-actions>
</mat-card>
