mat-card {
  padding: 0 0 1.25rem;

  mat-toolbar {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin: 0;
    }
  }

  mat-card-content {
    margin: 0;
    padding-top: 0.5rem;
  }

  mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75rem 1.25rem 1.25rem;

    .item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .item + .item {
      margin-left: 0.75rem;
    }
  }
}