:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

mat-card {
  min-width: 724px;
  max-width: 95vw;
  padding-bottom: 1.5rem;

  mat-card-content {
    .example-full-width {
      width: 100%;
    }
  }

  mat-card-actions {
    padding: 0 0.5rem;
  }
}