.login-dialog .mat-dialog-container {
  overflow: hidden;
  padding: 0;
}

.login-dialog .mat-dialog-container .mat-dialog-content {
  margin: 0;
}

.image-preview-dialog .mat-dialog-container {
  overflow: hidden;
  padding: 0;
}

.image-preview-dialog .mat-dialog-container .mat-dialog-content {
  margin: 0;
}

.pdf-preview-dialog .mat-dialog-container {
  overflow: hidden;
  padding: 0;
}

.pdf-preview-dialog .mat-dialog-container .mat-dialog-content {
  margin: 0;
}
