.document-dialog .mat-dialog-container,
.image-preview-dialog .mat-dialog-container,
.pdf-preview-dialog .mat-dialog-container,
.login-dialog .mat-dialog-container {
  overflow: hidden;
  padding: 0;
}

.document-dialog .mat-dialog-container .mat-dialog-content,
.image-preview-dialog .mat-dialog-container .mat-dialog-content,
.pdf-preview-dialog .mat-dialog-container .mat-dialog-content,
.login-dialog .mat-dialog-container .mat-dialog-content {
  margin: 0;
}
