.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.15em !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  transition: padding 0.5s;
  .mat-form-field-underline {
    position: static;
  }
}
.mat-form-field-appearance-legacy.compact .mat-form-field-wrapper {
  padding: 0;
}

.mat-form-field-appearance-standard .mat-form-field-wrapper {
  transition: padding 0.5s;
  .mat-form-field-underline {
    position: static;
  }
}
.mat-form-field-appearance-standard.compact .mat-form-field-wrapper {
  padding: 0;
}

.mat-form-field-appearance-fill .mat-form-field-wrapper {
  transition: padding 0.5s;
  .mat-form-field-underline {
    position: static;
  }
}
.mat-form-field-appearance-fill.compact .mat-form-field-wrapper {
  padding: 0;
}


.mat-form-field-appearance-outline .mat-form-field-wrapper {
  transition: padding 0.5s;
}
.mat-form-field-appearance-outline.compact .mat-form-field-wrapper {
  padding: 0;
}


